{:deps {thheller/shadow-cljs {:mvn/version "3.4.9"}
        com.cognitect/transit-cljs {:mvn/version "0.8.280"}
        no.cjohansen/replicant {:mvn/version "2025.12.1"}
        org.babashka/sci {:mvn/version "0.15.58"}
        com.example.git/clj-ui-framework
        {:git/url "https://git.example.com/floscr/clj-ui-framework.git"
         :git/sha "8479745608981d87e697fc04e6178726907388c9"}}
 :paths ["src" "test"]}
