{:deps {thheller/shadow-cljs {:mvn/version "3.4.9"}
        com.cognitect/transit-cljs {:mvn/version "0.8.280"}
        no.cjohansen/replicant {:mvn/version "2025.12.1"}
        org.babashka/sci {:mvn/version "0.15.58"}
        io.github.floscr/clj-ui-framework
        {:git/url "https://github.com/floscr/clj-ui-framework.git"
         :git/sha "5b8f09343bad99d0d5436b3d47dc4aa7d70e8129"}}
 :paths ["src" "test"]}
