{:deps true
 :dev-http {8100 {:root "resources/public" :host "0.0.0.0"}}
 :builds
 {:main
  {:target :node-script
   :main xi.cli/main
   :output-to "target/main.js"
   :devtools {:console-support false :log false}
   :compiler-options {:optimizations :simple
                      :reader-features #{:node}}}

  :test
  {:target    :node-test
   :output-to "target/test.js"
   :autorun   true
   :compiler-options {:reader-features #{:node}}}

  :web
  {:target     :browser
   :output-dir "resources/public/js"
   :asset-path "/js"
   ;; :user-ext (SCI + the user-extension evaluator) loads lazily via
   ;; shadow.lazy, only when the server has user web halves (xi.web.user-ext)
   :modules    {:main     {:init-fn xi.web.core/init!}
                :user-ext {:entries [xi.web.user-ext.sci] :depends-on #{:main}}}
   :module-loader true
   :devtools   {:after-load xi.web.core/reload!}
   :compiler-options {:reader-features #{:browser}}}}}
