[   {:pattern "\\s+" :token :text}
   {:pattern "[⍝#].*$" :token :comment}
   {:pattern "\\'((\\'\\')|[^\\'])*\\'" :token :string}
   {:pattern "\"((\"\")|[^\"])*\"" :token :string}
   {:pattern "[⋄◇()]" :token :punctuation}
   {:pattern "[\\[\\];]" :token :string}
   {:pattern "⎕[A-Za-zΔ∆⍙][A-Za-zΔ∆⍙_¯0-9]*" :token :name-fn}
   {:pattern "[A-Za-zΔ∆⍙_][A-Za-zΔ∆⍙_¯0-9]*" :token :name-var}
   {:pattern "¯?(0[Xx][0-9A-Fa-f]+|[0-9]*\\.?[0-9]+([Ee][+¯]?[0-9]+)?|¯|∞)([Jj]¯?(0[Xx][0-9A-Fa-f]+|[0-9]*\\.?[0-9]+([Ee][+¯]?[0-9]+)?|¯|∞))?" :token :number}
   {:pattern "[\\.\\\\/⌿⍀¨⍣⍨⍠⍤∘⍥@⌺⌶⍢]" :token :name-var}
   {:pattern "[+\\-×÷⌈⌊∣|⍳?*⍟○!⌹<≤=>≥≠≡≢∊⍷∪∩~∨∧⍱⍲⍴,⍪⌽⊖⍉↑↓⊂⊃⌷⍋⍒⊤⊥⍕⍎⊣⊢⍁⍂≈⌸⍯↗⊆⍸]" :token :operator}
   {:pattern "⍬" :token :name-var}
   {:pattern "[⎕⍞]" :token :name-var}
   {:pattern "[←→]" :token :keyword-decl}
   {:pattern "[⍺⍵⍶⍹∇:]" :token :name-builtin}
   {:pattern "[{}]" :token :keyword-type}]
