[   {:pattern "[^\\S\\n]+" :token :text}
   {:pattern "//.*?\\n" :token :comment}
   {:pattern "/\\*.*?\\*/" :token :comment}
   {:pattern "(break|catch|continue|done|else|finally|foreach|forever|fork|if|lock|match|return|throw|transaction|try|while)\\b" :token :keyword}
   {:pattern "@[^\\W\\d][\\w.]*" :token :name-builtin}
   {:pattern "(annotation|bind|but|endpoint|error|function|object|private|public|returns|service|type|var|with|worker)\\b" :token :keyword-decl}
   {:pattern "(boolean|byte|decimal|float|int|json|map|nil|record|string|table|xml)\\b" :token :keyword-type}
   {:pattern "(true|false|null)\\b" :token :keyword}
   {:pattern "\"(\\\\\\\\|\\\\\"|[^\"])*\"" :token :string}
   {:pattern "'\\\\.'|'[^\\\\]'|'\\\\u[0-9a-fA-F]{4}'" :token :string-char}
   {:pattern "^\\s*([^\\W\\d]|\\$)[\\w$]*:" :token :name-var}
   {:pattern "([^\\W\\d]|\\$)[\\w$]*" :token :text}
   {:pattern "([0-9][0-9_]*\\.([0-9][0-9_]*)?|\\.[0-9][0-9_]*)([eE][+\\-]?[0-9][0-9_]*)?[fFdD]?|[0-9][eE][+\\-]?[0-9][0-9_]*[fFdD]?|[0-9]([eE][+\\-]?[0-9][0-9_]*)?[fFdD]|0[xX]([0-9a-fA-F][0-9a-fA-F_]*\\.?|([0-9a-fA-F][0-9a-fA-F_]*)?\\.[0-9a-fA-F][0-9a-fA-F_]*)[pP][+\\-]?[0-9][0-9_]*[fFdD]?" :token :number}
   {:pattern "0[xX][0-9a-fA-F][0-9a-fA-F_]*[lL]?" :token :number}
   {:pattern "0[bB][01][01_]*[lL]?" :token :number}
   {:pattern "0[0-7_]+[lL]?" :token :number}
   {:pattern "0|[1-9][0-9_]*[lL]?" :token :number}
   {:pattern "[~^*!%&\\[\\](){}<>|+=:;,./?-]" :token :operator}
   {:pattern "\\n" :token :text}]
