[   {:pattern "\\b(alias|bg|bind|break|builtin|caller|cd|command|compgen|complete|declare|dirs|disown|echo|enable|eval|exec|exit|export|false|fc|fg|getopts|hash|help|history|jobs|kill|let|local|logout|popd|printf|pushd|pwd|read|readonly|set|shift|shopt|source|suspend|test|time|times|trap|true|type|typeset|ulimit|umask|unalias|unset|wait)(?=[\\s)`])" :token :name-builtin}
   {:pattern "\\A#!.+\\n" :token :comment}
   {:pattern "#.*(\\S|$)" :token :comment}
   {:pattern "\\\\[\\w\\W]" :token :string}
   {:pattern "[\\[\\]{}()=]" :token :operator}
   {:pattern "<<<" :token :operator}
   {:pattern "<<-?\\s*(\\'?)\\\\?(\\w+)[\\w\\W]+?\\2" :token :string}
   {:pattern "&&|\\|\\|" :token :operator}
   {:pattern ";" :token :punctuation}
   {:pattern "&" :token :punctuation}
   {:pattern "\\|" :token :punctuation}
   {:pattern "\\s+" :token :text}
   {:pattern "\\d+(?= |$)" :token :number}
   {:pattern "[^=\\s\\[\\]{}()$\"\\'`\\\\<&|;]+" :token :text}
   {:pattern "<" :token :text}
   {:pattern "\\$[a-zA-Z_]\\w*" :token :name-var}
   {:pattern "\\$(?:\\d+|[#$?!_*@-])" :token :name-var}
   {:pattern "\\$" :token :text}]
