[   {:pattern "\\s+" :token :text}
   {:pattern "\\A#!.+$" :token :comment}
   {:pattern "#.*$" :token :comment}
   {:pattern "&quot;(?:[^&quot;]|&quot;&quot;)*&quot;" :token :string}
   {:pattern "[{}]" :token :keyword}
   {:pattern "[⟨⟩\\[\\]‿]" :token :keyword}
   {:pattern "[()]" :token :punctuation}
   {:pattern "[:;?]" :token :punctuation}
   {:pattern "[⋄,]" :token :keyword}
   {:pattern "[←⇐↩→]" :token :text}
   {:pattern "'.'" :token :string-char}
   {:pattern "[˙˜˘¨⌜⁼´˝`]" :token :operator}
   {:pattern "[∘○⊸⟜⌾⊘◶⎉⚇⍟⎊]" :token :operator}
   {:pattern "[𝔽𝔾𝕎𝕏𝕊+\\-×÷⋆√⌊⌈|¬∧∨<>≠=≤≥≡≢⊣⊢⥊∾≍⋈↑↓↕«»⌽⍉/⍋⍒⊏⊑⊐⊒∊⍷⊔!⍕⍎]" :token :name-fn}
   {:pattern "[𝕗𝕘𝕨𝕩𝕤]" :token :text}
   {:pattern "·" :token :name-var}
   {:pattern "@" :token :string-char}
   {:pattern "\\d+(?:\\.\\d+)?[eE]¯?\\d+" :token :number}
   {:pattern "[¯∞π]?(?:\\d*\\.?\\b\\d+(?:e[+¯]?\\d+|E[+¯]?\\d+)?|¯|∞|π)(?:j¯?(?:(?:\\d+(?:\\.\\d+)?|\\.\\d+)(?:e[+¯]?\\d+|E[+¯]?\\d+)?|¯|∞|π))?" :token :number}
   {:pattern "(•?[a-z][A-Z_a-z0-9π∞¯]*|𝕣)" :token :text}
   {:pattern "•?[A-Z][A-Z_a-z0-9π∞¯]*" :token :name-fn}
   {:pattern "(•?_[A-Za-z][A-Z_a-z0-9π∞¯]*|_𝕣)" :token :operator}
   {:pattern "(•?_[A-Za-z][A-Z_a-z0-9π∞¯]*_|_𝕣_)" :token :operator}
   {:pattern "\\." :token :text}]
