[   {:pattern "#.*?$" :token :comment}
   {:pattern "(instance_sizeof|pointerof|protected|abstract|require|private|include|unless|typeof|sizeof|return|extend|ensure|rescue|ifdef|super|break|begin|until|while|elsif|yield|next|when|else|then|case|with|end|asm|if|do|as|of)\\b" :token :keyword}
   {:pattern "(false|true|nil)\\b" :token :keyword}
   {:pattern "(self|out|uninitialized)\\b|(is_a|responds_to)\\?" :token :keyword}
   {:pattern "(def_equals_and_hash|assert_responds_to|forward_missing_to|def_equals|property|def_hash|parallel|delegate|debugger|getter|record|setter|spawn|pp)\\b" :token :name-builtin}
   {:pattern "getter[!?]|property[!?]|__(DIR|FILE|LINE)__\\b" :token :name-builtin}
   {:pattern "(?<!\\.)(get_stack_top|StaticArray|Concurrent|with_color|Reference|Scheduler|read_line|Exception|at_exit|Pointer|Channel|Float64|sprintf|Float32|Process|Object|Struct|caller|UInt16|UInt32|UInt64|system|future|Number|printf|String|Symbol|Int32|Range|Slice|Regex|Mutex|sleep|Array|Class|raise|Tuple|Deque|delay|Float|Int16|print|abort|Value|UInt8|Int64|puts|Proc|File|Void|exit|fork|Bool|Char|gets|lazy|loop|main|rand|Enum|Int8|Time|Hash|Set|Box|Nil|Dir|Int|p)\\b" :token :name-builtin}
   {:pattern "(?<!\\w)(<<-?)([\"`\\']?)([a-zA-Z_]\\w*)(\\2)(.*?\\n)" :token :string}
   {:pattern "(<<-?)(\"|\\')()(\\2)(.*?\\n)" :token :string}
   {:pattern "@@[a-zA-Z_]\\w*" :token :name-var}
   {:pattern "@[a-zA-Z_]\\w*" :token :name-var}
   {:pattern "\\$\\w+" :token :name-var}
   {:pattern "\\$[!@&`\\'+~=/\\\\,;.<>_*$?:\"^-]" :token :name-var}
   {:pattern "\\$-[0adFiIlpvw]" :token :name-var}
   {:pattern "::" :token :operator}
   {:pattern "\\?(\\\\[MC]-)*(\\\\([\\\\befnrtv#\"\\']|x[a-fA-F0-9]{1,2}|[0-7]{1,3})|\\S)(?!\\w)" :token :string-char}
   {:pattern "[A-Z][A-Z_]+\\b" :token :name-var}
   {:pattern "[a-zA-Z_]\\w*(?:[!?](?!=))?" :token :text}
   {:pattern "(\\[|\\]\\??|\\*\\*|<=>?|>=|<<?|>>?|=~|===|!~|&&?|\\|\\||\\.{1,3})" :token :operator}
   {:pattern "[-+/*%=<>&!^|~]=?" :token :operator}
   {:pattern "[(){};,/?:\\\\]" :token :punctuation}
   {:pattern "\\s+" :token :text}
   {:pattern "\\:@{0,2}[a-zA-Z_]\\w*[!?]?" :token :string-symbol}
   {:pattern "\\:@{0,2}(\\[\\]\\?|<=>|===|\\[\\]=|>>|&&|\\*\\*|\\[\\]|\\|\\||>=|=~|!~|<<|<=|!=|==|<|/|=|-|\\+|>|\\*|&|%|\\^|!|\\||~)" :token :string-symbol}
   {:pattern ":'(\\\\\\\\|\\\\'|[^'])*'" :token :string-symbol}
   {:pattern "'(\\\\\\\\|\\\\'|[^']|\\\\[^'\\\\]+)'" :token :string-char}
   {:pattern "(%r([\\W_]))((?:\\\\\\2|(?!\\2).)*)(\\2[imsx]*)" :token :string}
   {:pattern "(%[wi]([\\W_]))((?:\\\\\\2|(?!\\2).)*)(\\2)" :token :string}
   {:pattern "(%([\\[{(<]))((?:\\\\\\2|(?!\\2).)*)(\\2)" :token :string}]
