[   {:pattern "[^\\S\\n]+" :token :text}
   {:pattern "\\\\\\n" :token :text}
   {:pattern "//[^\\n\\r]+" :token :comment}
   {:pattern "\\n" :token :text}
   {:pattern "(\\+|&&|==|<|=|-|\\|\\||!=|>|:|\\*|&|=~|<=|\\?|\\[|\\]|,|/|\\||!~|>=|!|_\\|_|\\.\\.\\.)" :token :operator}
   {:pattern "'(\\\\\\\\|\\\\'|[^'\\n])*['\\n]" :token :string}
   {:pattern "0[boxX][0-9a-fA-F][_0-9a-fA-F]*|(\\.\\d+|\\d[_\\d]*(\\.\\d*)?)([eE][+-]?\\d+)?[KMGTP]?i?" :token :number}
   {:pattern "[~!%^&*()+=|\\[\\]:;,.<>/?-]" :token :punctuation}
   {:pattern "[{}]" :token :punctuation}
   {:pattern "(import|for|if|in|let|package)\\b" :token :keyword}
   {:pattern "(bool|float|int|string|uint|ulong|ushort)\\b\\??" :token :keyword-type}
   {:pattern "(true|false|null|_)\\b" :token :keyword}
   {:pattern "[@#]?[_a-zA-Z$]\\w*" :token :text}]
