[   {:pattern "[^\\S\\n]+" :token :text}
   {:pattern "//.*?\\n" :token :comment}
   {:pattern "/\\*[\\s\\S]*?\\*/" :token :comment}
   {:pattern "/\\+[\\s\\S]*?\\+/" :token :comment}
   {:pattern "(asm|assert|body|break|case|cast|catch|continue|default|debug|delete|do|else|finally|for|foreach|foreach_reverse|goto|if|in|invariant|is|macro|mixin|new|out|pragma|return|super|switch|this|throw|try|typeid|typeof|version|while|with)\\b" :token :keyword}
   {:pattern "__(FILE|FILE_FULL_PATH|MODULE|LINE|FUNCTION|PRETTY_FUNCTION|DATE|EOF|TIME|TIMESTAMP|VENDOR|VERSION)__\\b" :token :name-builtin}
   {:pattern "__(traits|vector|parameters)\\b" :token :name-builtin}
   {:pattern "@[\\w.]*" :token :name-builtin}
   {:pattern "(abstract|auto|alias|align|const|delegate|deprecated|enum|export|extern|final|function|immutable|inout|lazy|nothrow|override|package|private|protected|public|pure|ref|scope|shared|static|synchronized|template|unittest|__gshared)\\b" :token :keyword-decl}
   {:pattern "(void|bool|byte|ubyte|short|ushort|int|uint|long|ulong|cent|ucent|float|double|real|ifloat|idouble|ireal|cfloat|cdouble|creal|char|wchar|dchar)\\b" :token :keyword-type}
   {:pattern "(size_t|ptrdiff_t|noreturn|string|wstring|dstring|Object|Throwable|Exception|Error|imported)\\b" :token :name-builtin}
   {:pattern "(true|false|null)\\b" :token :keyword}
   {:pattern "[qr]?\"(\\\\\\\\|\\\\\"|[^\"])*\"[cwd]?" :token :string}
   {:pattern "(`)([^`]*)(`)[cwd]?" :token :string}
   {:pattern "'\\\\.'|'[^\\\\]'|'\\\\u[0-9a-fA-F]{4}'" :token :string-char}
   {:pattern "^\\s*([^\\W\\d]|\\$)[\\w$]*:" :token :name-var}
   {:pattern "([0-9][0-9_]*\\.([0-9][0-9_]*)?|\\.[0-9][0-9_]*)([eE][+\\-]?[0-9][0-9_]*)?[fFL]?i?|[0-9][eE][+\\-]?[0-9][0-9_]*[fFL]?|[0-9]([eE][+\\-]?[0-9][0-9_]*)?[fFL]|0[xX]([0-9a-fA-F][0-9a-fA-F_]*\\.?|([0-9a-fA-F][0-9a-fA-F_]*)?\\.[0-9a-fA-F][0-9a-fA-F_]*)[pP][+\\-]?[0-9][0-9_]*[fFL]?" :token :number}
   {:pattern "0[xX][0-9a-fA-F][0-9a-fA-F_]*[lL]?" :token :number}
   {:pattern "0[bB][01][01_]*[lL]?" :token :number}
   {:pattern "0[0-7_]+[lL]?" :token :number}
   {:pattern "0|[1-9][0-9_]*[lL]?" :token :number}
   {:pattern "([~^*!%&\\[\\](){}<>|+=:;,./?-]|q{)" :token :operator}
   {:pattern "([^\\W\\d]|\\$)[\\w$]*" :token :text}
   {:pattern "\\n" :token :text}]
