[   {:pattern "PUBLIC|SYSTEM" :token :keyword}
   {:pattern "[\\[\\]>]" :token :keyword}
   {:pattern "\\s+" :token :text}
   {:pattern "(%|&)[^;]*;" :token :name-var}
   {:pattern "[(|)*,?+]" :token :operator}
   {:pattern "\"[^\"]*\"" :token :string}
   {:pattern "\\'[^\\']*\\'" :token :string}]
