[   {:pattern "\\s+" :token :text}
   {:pattern "#.*$" :token :comment}
   {:pattern "\\?\\\\?." :token :string-char}
   {:pattern ":::" :token :string-symbol}
   {:pattern "::" :token :operator}
   {:pattern ":(?:\\.\\.\\.|<<>>|%\\{\\}|%|\\{\\})" :token :string-symbol}
   {:pattern ":(?:(?:\\.\\.\\.|[a-z_]\\w*[!?]?)|[A-Z]\\w*(?:\\.[A-Z]\\w*)*|(?:\\<\\<\\<|\\>\\>\\>|\\|\\|\\||\\&\\&\\&|\\^\\^\\^|\\~\\~\\~|\\=\\=\\=|\\!\\=\\=|\\~\\>\\>|\\<\\~\\>|\\|\\~\\>|\\<\\|\\>|\\=\\=|\\!\\=|\\<\\=|\\>\\=|\\&\\&|\\|\\||\\<\\>|\\+\\+|\\-\\-|\\|\\>|\\=\\~|\\-\\>|\\<\\-|\\||\\.|\\=|\\~\\>|\\<\\~|\\<|\\>|\\+|\\-|\\*|\\/|\\!|\\^|\\&))" :token :string-symbol}
   {:pattern "(fn|do|end|after|else|rescue|catch)\\b" :token :keyword}
   {:pattern "(not|and|or|when|in)\\b" :token :operator}
   {:pattern "(case|cond|for|if|unless|try|receive|raise|quote|unquote|unquote_splicing|throw|super|while)\\b" :token :keyword}
   {:pattern "(def|defp|defmodule|defprotocol|defmacro|defmacrop|defdelegate|defexception|defstruct|defimpl|defcallback)\\b" :token :keyword-decl}
   {:pattern "(import|require|use|alias)\\b" :token :keyword}
   {:pattern "(nil|true|false)\\b" :token :name-var}
   {:pattern "(_|__MODULE__|__DIR__|__ENV__|__CALLER__)\\b" :token :text}
   {:pattern "@(?:\\.\\.\\.|[a-z_]\\w*[!?]?)" :token :name-var}
   {:pattern "(?:\\.\\.\\.|[a-z_]\\w*[!?]?)" :token :text}
   {:pattern "\\<\\<\\<|\\>\\>\\>|\\|\\|\\||\\&\\&\\&|\\^\\^\\^|\\~\\~\\~|\\=\\=\\=|\\!\\=\\=|\\~\\>\\>|\\<\\~\\>|\\|\\~\\>|\\<\\|\\>" :token :operator}
   {:pattern "\\=\\=|\\!\\=|\\<\\=|\\>\\=|\\&\\&|\\|\\||\\<\\>|\\+\\+|\\-\\-|\\|\\>|\\=\\~|\\-\\>|\\<\\-|\\||\\.|\\=|\\~\\>|\\<\\~" :token :operator}
   {:pattern "\\\\\\\\|\\<\\<|\\>\\>|\\=\\>|\\(|\\)|\\:|\\;|\\,|\\[|\\]" :token :punctuation}
   {:pattern "&\\d" :token :name-var}
   {:pattern "\\<|\\>|\\+|\\-|\\*|\\/|\\!|\\^|\\&" :token :operator}
   {:pattern "0b[01](_?[01])*" :token :number}
   {:pattern "0o[0-7](_?[0-7])*" :token :number}
   {:pattern "0x[\\da-fA-F](_?[\\dA-Fa-f])*" :token :number}
   {:pattern "\\d(_?\\d)*\\.\\d(_?\\d)*([eE][-+]?\\d(_?\\d)*)?" :token :number}
   {:pattern "\\d(_?\\d)*" :token :number}]
