[   {:pattern "(?:[a-zA-Z$_][\\w$.@-]*|\\.[\\w$.@-]+):" :token :name-var}
   {:pattern "lock|rep(n?z)?|data\\d+" :token :name-var}
   {:pattern "[\\r\\n]+" :token :text}
   {:pattern "\\n" :token :text}
   {:pattern "\\s+" :token :text}
   {:pattern "([;#@|!]|//).*\\n?" :token :comment}
   {:pattern "/[*][\\w\\W]*?[*]/" :token :comment}]
