[   {:pattern "^#,\\s.*?$" :token :keyword-type}
   {:pattern "^#:\\s.*?$" :token :keyword-decl}
   {:pattern "^(#|#\\.\\s|#\\|\\s|#~\\s|#\\s).*$" :token :comment}
   {:pattern "^&quot;.*&quot;$" :token :string}]
