[   {:pattern "\\n" :token :name-fn}
   {:pattern "(\\s|.)" :token :name-fn}
   {:pattern "\\s*#.*$" :token :comment}
   {:pattern "(<[^>]+>)" :token :name-var}
   {:pattern "(\\d+\\.?\\d*|\\d*\\.\\d+)([eE][+-]?[0-9]+)?" :token :string}]
