[   {:pattern "#!.*$" :token :comment}
   {:pattern "NB\\..*" :token :comment}
   {:pattern "\\s*Note.*" :token :comment}
   {:pattern "\\s+" :token :text}
   {:pattern "(label_|goto_|for_)\\b[a-zA-Z]\\w*\\." :token :name-var}
   {:pattern "(continue|select|return|assert|catchd|catcht|elseif|whilst|break|catch|fcase|while|throw|else|case|end|try|for|do|if)\\." :token :name-var}
   {:pattern "\\b[a-zA-Z]\\w*" :token :name-var}
   {:pattern "(timespacex|fixdotdot|nameclass|namelist|file2url|tmoutput|ucpcount|boxxopen|smoutput|JVERSION|datatype|toupper|tolower|alpha17|alpha27|getargs|evtloop|boxopen|fliprgb|inverse|scriptd|iospath|cutopen|isatty|toCRLF|toHOST|isutf8|getenv|stdout|script|usleep|sminfo|expand|stderr|clear|fetch|every|erase|empty|Debug|EMPTY|split|names|timex|cutLF|stdin|apply|items|table|exit|Note|list|take|leaf|type|bind|drop|rows|each|echo|sign|CRLF|utf8|sort|pick|ARGV|uucp|ucp|DEL|inv|hfd|dfh|def|LF2|EAV|toJ|TAB|nl|FF|LF|bx|nc|CR|on)" :token :name-fn}
   {:pattern "=[.:]" :token :operator}
   {:pattern "[-=+*#$%@!~`^&\";:.,<>{}\\[\\]\\\\|/]" :token :operator}
   {:pattern "[abCdDeEfHiIjLMoprtT]\\." :token :keyword}
   {:pattern "[aDiLpqsStux]\\:" :token :keyword}
   {:pattern "(_[0-9])\\:" :token :keyword}
   {:pattern "\\b_{1,2}\\b" :token :number}
   {:pattern "_?\\d+(\\.\\d+)?(\\s*[ejr]\\s*)_?\\d+(\\.?=\\d+)?" :token :number}
   {:pattern "_?\\d+\\.(?=\\d+)" :token :number}
   {:pattern "_?\\d+x" :token :number}
   {:pattern "_?\\d+" :token :number}]
