[   {:pattern "@&#x27;.*&#x27;" :token :string}
   {:pattern "@&quot;.*&quot;" :token :string}
   {:pattern "\\|\\|\\|(.|\\n)*\\|\\|\\|" :token :string}
   {:pattern "[+-]?[0-9]+(.[0-9])?" :token :number}
   {:pattern "[!$~+\\-&|^=<>*/%]" :token :operator}
   {:pattern "(assert|else|error|false|for|if|import|importstr|in|null|tailstrict|then|self|super|true)\\b" :token :keyword}
   {:pattern "\\s+" :token :text}
   {:pattern "[^\\W\\d]\\w*" :token :name-var}
   {:pattern "[\\.()]" :token :punctuation}
   {:pattern "(//|#).*\\n" :token :comment}
   {:pattern "/\\*\\*([^/]|/(?!\\*))*\\*/" :token :string}
   {:pattern "/\\*([^/]|/(?!\\*))*\\*/" :token :comment}]
