[   {:pattern "\\b(add\\-highlighter|alias|arrange\\-buffers|buffer|buffer\\-next|buffer\\-previous|catch|change\\-directory|colorscheme|debug|declare\\-option|declare\\-user\\-mode|define\\-command|complete\\-command|delete\\-buffer|delete\\-buffer!|echo|edit|edit!|enter\\-user\\-mode|evaluate\\-commands|execute\\-keys|fail|hook|info|kill|kill!|map|nop|on\\-key|prompt|provide\\-module|quit|quit!|remove\\-highlighter|remove\\-hooks|rename\\-buffer|rename\\-client|rename\\-session|require\\-module|select|set\\-face|set\\-option|set\\-register|source|trigger\\-user\\-hook|try|unalias|unmap|unset\\-face|unset\\-option|update\\-option|write|write!|write\\-all|write\\-all\\-quit|write\\-quit|write\\-quit!)\\b" :token :keyword}
   {:pattern "\\b(global|buffer|window|current|normal|insert|prompt|goto|view|user|object|number\\-lines|show\\-matching|show\\-whitespaces|fill|regex|dynregex|group|flag\\-lines|ranges|line|column|wrap|ref|regions|region|default\\-region|replace\\-ranges)\\b" :token :name-var}
   {:pattern "\\b(int|bool|str|regex|int\\-list|str\\-list|completions|line\\-specs|range\\-specs|str\\-to\\-str\\-map)\\b" :token :name-class}
   {:pattern "\\b(default|black|red|green|yellow|blue|magenta|cyan|white|yes|no|false|true)\\b" :token :string}
   {:pattern "\\brgba?:[0-9a-fA-F]{6,8}\\b" :token :number}
   {:pattern "&quot;(&quot;&quot;|[^&quot;])*&quot;" :token :string}
   {:pattern "&#x27;(&#x27;&#x27;|[^&#x27;])*&#x27;" :token :string}
   {:pattern "\\b(alias|bg|bind|builtin|caller|cd|command|compgen|complete|declare|dirs|disown|echo|enable|eval|exec|exit|export|false|fc|fg|getopts|hash|help|history|jobs|kill|let|local|logout|popd|printf|pushd|pwd|read|readonly|set|shift|shopt|source|suspend|test|time|times|trap|true|type|typeset|ulimit|umask|unalias|unset|wait)(?=[\\s)`])" :token :name-builtin}
   {:pattern "\\A#!.+\\n" :token :comment}
   {:pattern "#.*\\n" :token :comment}
   {:pattern "\\\\[\\w\\W]" :token :string}
   {:pattern "[\\[\\]{}()=]" :token :operator}
   {:pattern "<<<" :token :operator}
   {:pattern "<<-?\\s*(\\&#x27;?)\\\\?(\\w+)[\\w\\W]+?\\2" :token :string}
   {:pattern "&&|\\|\\|" :token :operator}
   {:pattern ";" :token :punctuation}
   {:pattern "&" :token :punctuation}
   {:pattern "\\|" :token :punctuation}
   {:pattern "\\s+" :token :text}
   {:pattern "\\d+\\b" :token :number}
   {:pattern "[^=\\s\\[\\]{}()$&quot;\\&#x27;`\\\\<&|;]+" :token :text}
   {:pattern "<" :token :text}
   {:pattern "\\$[a-zA-Z_]\\w*" :token :name-var}
   {:pattern "\\$(?:\\d+|[#$?!_*@-])" :token :name-var}
   {:pattern "\\$" :token :text}]
