[   {:pattern "(?<=run)\\s+[a-z_]+" :token :name-builtin}
   {:pattern "\\b[0-9a-fA-F]+(?:-[0-9a-fA-F]+){4}\\b" :token :name-var}
   {:pattern "[A-Za-z_][\\w.#%$]+" :token :keyword}
   {:pattern "[#%$][\\w.#%$]+" :token :name-var}
   {:pattern "#?[a-z_][a-z_.-]*:[a-z0-9_./-]+" :token :name-fn}
   {:pattern "#?[a-z0-9_\\.\\-]+\\/[a-z0-9_\\.\\-\\/]+" :token :name-fn}
   {:pattern "#.*$" :token :comment}
   {:pattern "\\.\\." :token :string}
   {:pattern "(true|false)" :token :keyword}
   {:pattern "[A-Za-z_]+" :token :name-var}
   {:pattern "[0-7]b" :token :text}
   {:pattern "[+-]?\\d*\\.?\\d+([eE]?[+-]?\\d+)?[df]?\\b" :token :number}
   {:pattern "[+-]?\\d+\\b" :token :number}
   {:pattern "\\s+" :token :text}
   {:pattern "[\\-~%^?!+*<>\\\\/|&=.]" :token :operator}
   {:pattern "@[a-z]" :token :name-var}]
