[   {:pattern "\\n+" :token :text}
   {:pattern "\\s+" :token :text}
   {:pattern "\\(\\*!m2pim\\*\\)" :token :comment}
   {:pattern "\\(\\*!m2iso\\*\\)" :token :comment}
   {:pattern "\\(\\*!m2r10\\*\\)" :token :comment}
   {:pattern "\\(\\*!objm2\\*\\)" :token :comment}
   {:pattern "\\(\\*!m2iso\\+aglet\\*\\)" :token :comment}
   {:pattern "\\(\\*!m2pim\\+gm2\\*\\)" :token :comment}
   {:pattern "\\(\\*!m2iso\\+p1\\*\\)" :token :comment}
   {:pattern "\\(\\*!m2iso\\+xds\\*\\)" :token :comment}
   {:pattern "<\\*.*?\\*>" :token :comment}
   {:pattern "\\(\\*\\$.*?\\*\\)" :token :comment}
   {:pattern "^//.*?\\n" :token :comment}
   {:pattern "\\(\\*([^$].*?)\\*\\)" :token :comment}
   {:pattern "/\\*(.*?)\\*/" :token :comment}
   {:pattern "([a-zA-Z_$][\\w$]*)" :token :text}
   {:pattern "[0-7]+B" :token :number}
   {:pattern "[0-7]+C" :token :number}
   {:pattern "[0-9A-F]+H" :token :number}
   {:pattern "0b[01]+(\\'[01]+)*" :token :number}
   {:pattern "0[ux][0-9A-F]+(\\'[0-9A-F]+)*" :token :number}
   {:pattern "[0-9]+(\\'[0-9]+)*\\.[0-9]+(\\'[0-9]+)*[eE][+-]?[0-9]+(\\'[0-9]+)*" :token :number}
   {:pattern "[0-9]+(\\'[0-9]+)*\\.[0-9]+(\\'[0-9]+)*" :token :number}
   {:pattern "[0-9]+(\\'[0-9]+)*" :token :number}
   {:pattern "'(\\\\\\\\|\\\\'|[^'])*'" :token :string}
   {:pattern "\"(\\\\\\\\|\\\\\"|[^\"])*\"" :token :string}
   {:pattern "\\.\\." :token :punctuation}
   {:pattern "<<" :token :punctuation}
   {:pattern ">>" :token :punctuation}
   {:pattern "->" :token :punctuation}
   {:pattern "\\|#" :token :punctuation}
   {:pattern "##" :token :punctuation}
   {:pattern "\\|\\*" :token :punctuation}
   {:pattern "\\*\\." :token :operator}
   {:pattern "\\+>" :token :operator}
   {:pattern "<>" :token :operator}
   {:pattern "<=" :token :operator}
   {:pattern ">=" :token :operator}
   {:pattern "==" :token :operator}
   {:pattern "::" :token :operator}
   {:pattern ":=" :token :operator}
   {:pattern "\\+\\+" :token :operator}
   {:pattern "--" :token :operator}
   {:pattern "[()\\[\\]{},.:;|]" :token :punctuation}
   {:pattern "!" :token :punctuation}
   {:pattern "\\?" :token :punctuation}
   {:pattern "[+-]" :token :operator}
   {:pattern "[*/]" :token :operator}
   {:pattern "\\\\" :token :operator}
   {:pattern "[=#<>]" :token :operator}
   {:pattern "\\^" :token :operator}
   {:pattern "@" :token :operator}
   {:pattern "&" :token :operator}
   {:pattern "~" :token :operator}
   {:pattern "`" :token :operator}]
