[   {:pattern "\\s+" :token :text}
   {:pattern "\\A#!.+$" :token :comment}
   {:pattern "#.*$" :token :comment}
   {:pattern "\\\\\\n" :token :text}
   {:pattern "\\\\" :token :text}
   {:pattern "(assert|async|await|borrowed|break|continue|del|elif|else|except|finally|for|global|if|lambda|pass|raise|nonlocal|return|try|while|yield|yield\\ from|as|with)\\b" :token :keyword}
   {:pattern "(True|False|None)\\b" :token :keyword}
   {:pattern "[^\\S\\n]+" :token :text}
   {:pattern "!=|==|<<|>>|:=|[-~+/*%=<>&^|.]" :token :operator}
   {:pattern "([]{}:\\(\\),;[])+" :token :punctuation}
   {:pattern "(in|is|and|or|not)\\b" :token :operator}
   {:pattern "(\\d(?:_?\\d)*\\.(?:\\d(?:_?\\d)*)?|(?:\\d(?:_?\\d)*)?\\.\\d(?:_?\\d)*)([eE][+-]?\\d(?:_?\\d)*)?" :token :number}
   {:pattern "\\d(?:_?\\d)*[eE][+-]?\\d(?:_?\\d)*j?" :token :number}
   {:pattern "0[oO](?:_?[0-7])+" :token :number}
   {:pattern "0[bB](?:_?[01])+" :token :number}
   {:pattern "0[xX](?:_?[a-fA-F0-9])+" :token :number}
   {:pattern "\\d(?:_?\\d)*" :token :number}
   {:pattern "(async\\ for|async\\ with|await|else|for|if|lambda|yield|yield\\ from)\\b" :token :keyword}
   {:pattern "(True|False|None)\\b" :token :keyword}
   {:pattern "(?<!\\.)(__import__|abs|aiter|all|any|bin|bool|bytearray|breakpoint|bytes|callable|chr|classmethod|compile|complex|delattr|dict|dir|divmod|enumerate|eval|filter|float|format|frozenset|getattr|globals|hasattr|hash|hex|id|input|int|isinstance|issubclass|iter|len|list|locals|map|max|memoryview|min|next|object|oct|open|ord|pow|print|property|range|repr|reversed|round|set|setattr|slice|sorted|staticmethod|str|sum|super|tuple|type|vars|zip|AnyType|Coroutine|DType|Error|Int|List|ListLiteral|Scalar|Int8|UInt8|Int16|UInt16|Int32|UInt32|Int64|UInt64|BFloat16|Float16|Float32|Float64|SIMD|String|Tensor|Tuple|Movable|Copyable|CollectionElement)\\b" :token :name-builtin}
   {:pattern "(?<!\\.)(self|Ellipsis|NotImplemented|cls)\\b" :token :name-builtin}
   {:pattern "(?<!\\.)(Error)\\b" :token :name-class}
   {:pattern "(__abs__|__add__|__aenter__|__aexit__|__aiter__|__and__|__anext__|__await__|__bool__|__bytes__|__call__|__complex__|__contains__|__del__|__delattr__|__delete__|__delitem__|__dir__|__divmod__|__enter__|__eq__|__exit__|__float__|__floordiv__|__format__|__ge__|__get__|__getattr__|__getattribute__|__getitem__|__gt__|__hash__|__iadd__|__iand__|__ifloordiv__|__ilshift__|__imatmul__|__imod__|__imul__|__index__|__init__|__instancecheck__|__int__|__invert__|__ior__|__ipow__|__irshift__|__isub__|__iter__|__itruediv__|__ixor__|__le__|__len__|__length_hint__|__lshift__|__lt__|__matmul__|__missing__|__mod__|__mul__|__ne__|__neg__|__new__|__next__|__or__|__pos__|__pow__|__prepare__|__radd__|__rand__|__rdivmod__|__repr__|__reversed__|__rfloordiv__|__rlshift__|__rmatmul__|__rmod__|__rmul__|__ror__|__round__|__rpow__|__rrshift__|__rshift__|__rsub__|__rtruediv__|__rxor__|__set__|__setattr__|__setitem__|__str__|__sub__|__subclasscheck__|__truediv__|__xor__)\\b" :token :name-fn}
   {:pattern "(__annotations__|__bases__|__class__|__closure__|__code__|__defaults__|__dict__|__doc__|__file__|__func__|__globals__|__kwdefaults__|__module__|__mro__|__name__|__objclass__|__qualname__|__self__|__slots__|__weakref__)\\b" :token :name-var}
   {:pattern "@[_\\p{L}][_\\p{L}\\p{N}]*(\\s*\\.\\s*[_\\p{L}][_\\p{L}\\p{N}]*)*" :token :name-builtin}
   {:pattern "@" :token :operator}
   {:pattern "[_\\p{L}][_\\p{L}\\p{N}]*(\\s*\\.\\s*[_\\p{L}][_\\p{L}\\p{N}]*)*" :token :text}]
