[   {:pattern "[^\\S\\n]+" :token :text}
   {:pattern "\\n" :token :text}
   {:pattern "//(\\n|[\\w\\W]*?[^\\\\]\\n)" :token :comment}
   {:pattern "/(\\\\\\n)?[*][\\w\\W]*?[*](\\\\\\n)?/" :token :comment}
   {:pattern "/(\\\\\\n)?[*][\\w\\W]*" :token :comment}
   {:pattern ":[a-zA-Z_][\\w_\\.]*" :token :string-symbol}
   {:pattern "[{}\\[\\]\\(\\),;:\\.]" :token :punctuation}
   {:pattern "[&~\\|\\^!+\\-*\\/%=?]" :token :operator}
   {:pattern "=>|[+-]=|&&|\\|\\||>>|<<|[<>]=?|[!=]=" :token :operator}
   {:pattern "\\b(and|or|instanceof|has|extends|new)" :token :operator}
   {:pattern "(false|null|true|NaN)\\b" :token :keyword}
   {:pattern "\\b(if|else|for|switch|case|while|break|continue|default|do|try|catch|finally|return|throw|extends|function)\\b" :token :keyword}
   {:pattern "\\b(const|enum|hidden|public|protected|private|static)\\b" :token :keyword-type}
   {:pattern "\\bvar\\b" :token :keyword-decl}
   {:pattern "\\b(Activity(Monitor|Recording)?|Ant(Plus)?|Application|Attention|Background|Communications|Cryptography|FitContributor|Graphics|Gregorian|Lang|Math|Media|Persisted(Content|Locations)|Position|Properties|Sensor(History|Logging)?|Storage|StringUtil|System|Test|Time(r)?|Toybox|UserProfile|WatchUi|Rez|Drawables|Strings|Fonts|method)\\b" :token :name-builtin}
   {:pattern "\\b(me|self|\\$)\\b" :token :name-builtin}
   {:pattern "\"(\\\\\\\\|\\\\\"|[^\"])*\"" :token :string}
   {:pattern "'(\\\\\\\\|\\\\'|[^''])*'" :token :string}
   {:pattern "-?(0x[0-9a-fA-F]+l?)" :token :number}
   {:pattern "-?([0-9]+(\\.[0-9]+[df]?|[df]))\\b" :token :number}
   {:pattern "-?([0-9]+l?)" :token :number}
   {:pattern "[a-zA-Z_]\\w*" :token :text}]
