[   {:pattern "[^\\S\\n]+" :token :text}
   {:pattern "\\n" :token :text}
   {:pattern "//(\\n|[\\w\\W]*?[^\\\\]\\n)" :token :comment}
   {:pattern "/(\\\\\\n)?[*][\\w\\W]*?[*](\\\\\\n)?/" :token :comment}
   {:pattern "/(\\\\\\n)?[*][\\w\\W]*" :token :comment}
   {:pattern "[{}\\[\\]\\(\\),;:]" :token :punctuation}
   {:pattern "[*!#%\\-+=?/]" :token :operator}
   {:pattern "<|<=|==|!=|>=|>|&&|\\|\\|" :token :operator}
   {:pattern "\\$(f[asn]|t|vp[rtd]|children)" :token :name-var}
   {:pattern "(undef|PI)\\b" :token :keyword}
   {:pattern "\\b(true|false)\\b" :token :string}
   {:pattern "\\b(function|module|include|use|for|intersection_for|if|else|return)\\b" :token :keyword}
   {:pattern "\\b(circle|square|polygon|text|sphere|cube|cylinder|polyhedron|translate|rotate|scale|resize|mirror|multmatrix|color|offset|hull|minkowski|union|difference|intersection|abs|sign|sin|cos|tan|acos|asin|atan|atan2|floor|round|ceil|ln|log|pow|sqrt|exp|rands|min|max|concat|lookup|str|chr|search|version|version_num|norm|cross|parent_module|echo|import|import_dxf|dxf_linear_extrude|linear_extrude|rotate_extrude|surface|projection|render|dxf_cross|dxf_dim|let|assign|len)\\b" :token :name-builtin}
   {:pattern "\\bchildren\\b" :token :name-builtin}
   {:pattern "\"(\\\\\\\\|\\\\\"|[^\"])*\"" :token :string}
   {:pattern "-?\\d+(\\.\\d+)?(e[+-]?\\d+)?" :token :number}
   {:pattern "[a-zA-Z_]\\w*" :token :text}]
