[   {:pattern "\\s+" :token :text}
   {:pattern "(\\(|\\))" :token :punctuation}
   {:pattern "(\\[|\\])" :token :punctuation}
   {:pattern "({|})" :token :punctuation}
   {:pattern "([+-]?\\d+)" :token :number}
   {:pattern "(#([a-fA-F0-9][a-fA-F0-9])+)" :token :string}
   {:pattern "(\\(\\))" :token :name-var}
   {:pattern "(True|False)" :token :name-var}
   {:pattern "(con |abs |iwrap |unwrap |lam |builtin |delay |force |error)" :token :keyword}
   {:pattern "(fun |all |ifix |lam |con )" :token :keyword}
   {:pattern "(type|fun )" :token :keyword}
   {:pattern "(unit|bool|integer|bytestring|string)" :token :keyword-type}
   {:pattern "(addInteger |subtractInteger |multiplyInteger |divideInteger |quotientInteger |remainderInteger |modInteger |equalsInteger |lessThanInteger |lessThanEqualsInteger )" :token :name-builtin}
   {:pattern "(appendByteString |consByteString |sliceByteString |lengthOfByteString |indexByteString |equalsByteString |lessThanByteString |lessThanEqualsByteString )" :token :name-builtin}
   {:pattern "(sha2_256 |sha3_256 |blake2b_256 |verifySignature )" :token :name-builtin}
   {:pattern "(appendString |equalsString |encodeUtf8 |decodeUtf8 )" :token :name-builtin}
   {:pattern "(ifThenElse )" :token :name-builtin}
   {:pattern "(chooseUnit )" :token :name-builtin}
   {:pattern "(trace )" :token :name-builtin}
   {:pattern "(fstPair |sndPair )" :token :name-builtin}
   {:pattern "(chooseList |mkCons |headList |tailList |nullList )" :token :name-builtin}
   {:pattern "(chooseData |constrData |mapData |listData |iData |bData |unConstrData |unMapData |unListData |unIData |unBData |equalsData )" :token :name-builtin}
   {:pattern "(mkPairData |mkNilData |mkNilPairData )" :token :name-builtin}
   {:pattern "([a-zA-Z][a-zA-Z0-9_']*)" :token :text}]
