[   {:pattern "\\n" :token :text}
   {:pattern "[^\\S\\n]+" :token :text}
   {:pattern "//.*\\n" :token :comment}
   {:pattern "\"\"\"(?:.|\\n)*?\"\"\"" :token :string}
   {:pattern "\\'.*\\'" :token :string-char}
   {:pattern "(addressof|digestof|consume|isnt|and|not|as|is|or)\\b" :token :operator}
   {:pattern "!=|==|<<|>>|[-+/*%=<>]" :token :operator}
   {:pattern "(compile_intrinsic|compile_error|continue|recover|return|repeat|lambda|elseif|object|#share|match|#send|#read|ifdef|until|embed|while|where|error|break|with|else|#any|this|then|tag|for|trn|try|ref|use|var|val|let|end|iso|box|in|if|do)\\b" :token :keyword}
   {:pattern "(DisposableActor|NullablePointer|AsioEventNotify|UnsignedInteger|RuntimeOptions|DoNotOptimise|FloatingPoint|SignedInteger|ReadElement|ArrayValues|StringBytes|StringRunes|InputNotify|InputStream|AsioEventID|ByteSeqIter|AmbientAuth|Comparable|ArrayPairs|Stringable|OutStream|SourceLoc|ArrayKeys|StdStream|Equatable|AsioEvent|Iterator|Platform|Unsigned|Greater|Compare|Integer|Pointer|ReadSeq|ByteSeq|String|Number|Signed|Float|USize|Stdin|ILong|ISize|HasEq|Array|ULong|Equal|I128|U128|Bool|Less|Real|None|Seq|I64|Any|F32|F64|U64|U32|I32|Int|I16|U16|Env|I8|U8)\\b" :token :keyword-type}
   {:pattern "_?[A-Z]\\w*" :token :name-class}
   {:pattern "string\\(\\)" :token :name-var}
   {:pattern "(\\d+\\.\\d*|\\.\\d+|\\d+)[eE][+-]?\\d+" :token :number}
   {:pattern "0x[0-9a-fA-F]+" :token :number}
   {:pattern "\\d+" :token :number}
   {:pattern "(true|false)\\b" :token :keyword}
   {:pattern "_\\d*" :token :text}
   {:pattern "_?[a-z][\\w\\'_]*" :token :text}]
