[   {:pattern "\\n" :token :text}
   {:pattern "[^\\S\\n]+" :token :text}
   {:pattern "\\\\\\n" :token :text}
   {:pattern "//(?:.|(?<=\\\\)\\n)*\\n" :token :comment}
   {:pattern "/(?:\\\\\\n)?[*](?:[^*]|[*](?!(?:\\\\\\n)?/))*[*](?:\\\\\\n)?/" :token :comment}
   {:pattern "/(\\\\\\n)?[*][\\w\\W]*" :token :comment}
   {:pattern "(atomic|break|d_step|do|od|for|in|goto|if|fi|unless)\\b" :token :keyword}
   {:pattern "(assert|get_priority|printf|printm|set_priority)\\b" :token :name-fn}
   {:pattern "(c_code|c_decl|c_expr|c_state|c_track)\\b" :token :keyword}
   {:pattern "(_|_last|_nr_pr|_pid|_priority|else|np_|STDIN)\\b" :token :name-builtin}
   {:pattern "(empty|enabled|eval|full|len|nempty|nfull|pc_value)\\b" :token :name-fn}
   {:pattern "run\\b" :token :operator}
   {:pattern "(active|chan|D_proctype|hidden|init|local|mtype|never|notrace|proctype|show|trace|typedef|xr|xs)\\b" :token :keyword-decl}
   {:pattern "(priority|provided)\\b" :token :keyword}
   {:pattern "(inline|ltl|select)\\b" :token :keyword-decl}
   {:pattern "skip\\b" :token :keyword}
   {:pattern "(bit|bool|byte|pid|short|int|unsigned)\\b" :token :keyword-type}]
