[   {:pattern "\\n" :token :text}
   {:pattern "\\s+" :token :text}
   {:pattern "," :token :punctuation}
   {:pattern "(group_right|group_left|ignoring|without|offset|bool|on|by)\\b" :token :keyword}
   {:pattern "(count_values|quantile|bottomk|stdvar|stddev|count|group|topk|sum|min|max|avg)\\b" :token :keyword}
   {:pattern "(histogram_quantile|quantile_over_time|absent_over_time|stdvar_over_time|stddev_over_time|count_over_time|predict_linear|label_replace|max_over_time|avg_over_time|sum_over_time|days_in_month|min_over_time|day_of_month|holt_winters|day_of_week|label_join|sort_desc|clamp_max|timestamp|clamp_min|increase|changes|resets|vector|absent|idelta|minute|scalar|log10|delta|month|floor|deriv|round|irate|rate|year|sort|log2|sqrt|ceil|time|hour|abs|exp|ln)\\b" :token :keyword}
   {:pattern "[1-9][0-9]*[smhdwy]" :token :string}
   {:pattern "-?[0-9]+\\.[0-9]+" :token :number}
   {:pattern "-?[0-9]+" :token :number}
   {:pattern "#.*?$" :token :comment}
   {:pattern "(\\+|\\-|\\*|\\/|\\%|\\^)" :token :operator}
   {:pattern "==|!=|>=|<=|<|>" :token :operator}
   {:pattern "and|or|unless" :token :operator}
   {:pattern "[_a-zA-Z][a-zA-Z0-9_]+" :token :name-var}
   {:pattern "\\)" :token :operator}]
