[   {:pattern "#!.*" :token :string}
   {:pattern "#.*" :token :comment}
   {:pattern "\\s+" :token :text}
   {:pattern "(bool|int|int8|int16|int32|int64|int128|float|text|set)\\b" :token :keyword-type}
   {:pattern "^prql " :token :keyword}
   {:pattern "let" :token :keyword-decl}
   {:pattern "^[A-Za-z_][a-zA-Z0-9_]*" :token :keyword}
   {:pattern "(into|case|type|module|internal)\\b" :token :keyword}
   {:pattern "(true|false|null)\\b" :token :keyword}
   {:pattern "&quot;&quot;&quot;" :token :string}
   {:pattern "&#x27;&#x27;&#x27;" :token :string}
   {:pattern "&quot;" :token :string}
   {:pattern "&#x27;" :token :string}
   {:pattern "@\\d{4}-\\d{2}-\\d{2}T\\d{2}(:\\d{2})?(:\\d{2})?(\\.\\d{1,6})?(Z|[+-]\\d{1,2}(:\\d{1,2})?)?" :token :string}
   {:pattern "@\\d{4}-\\d{2}-\\d{2}" :token :string}
   {:pattern "@\\d{2}(:\\d{2})?(:\\d{2})?(\\.\\d{1,6})?(Z|[+-]\\d{1,2}(:\\d{1,2})?)?" :token :string}
   {:pattern "[^\\S\\n]+" :token :text}
   {:pattern "->|=>|==|!=|>=|<=|~=|&&|\\|\\||\\?\\?|\\/\\/" :token :operator}
   {:pattern "[-~+/*%=<>&^|.@]" :token :operator}
   {:pattern "[]{}:(),;[]" :token :punctuation}
   {:pattern "[A-Za-z_][a-zA-Z0-9_]*" :token :name-var}
   {:pattern "(\\d(?:_?\\d)*\\.(?:\\d(?:_?\\d)*)?|(?:\\d(?:_?\\d)*)?\\.\\d(?:_?\\d)*)([eE][+-]?\\d(?:_?\\d)*)?" :token :number}
   {:pattern "\\d(?:_?\\d)*[eE][+-]?\\d(?:_?\\d)*j?" :token :number}
   {:pattern "0[oO](?:_?[0-7])+" :token :number}
   {:pattern "0[bB](?:_?[01])+" :token :number}
   {:pattern "0[xX](?:_?[a-fA-F0-9])+" :token :number}
   {:pattern "\\d(?:_?\\d)*" :token :number}
   {:pattern "(min|max|sum|average|stddev|every|any|concat_array|count|lag|lead|first|last|rank|rank_dense|row_number|round|as|in|tuple_every|tuple_map|tuple_zip|_eq|_is_null|from_text|lower|upper|read_parquet|read_csv)\\b" :token :name-fn}]
