[   {:pattern "\\b(if|endif|else|while|then|foreach|case|default|continue|goto|breaksw|end|switch|endsw)\\s*\\b" :token :keyword}
   {:pattern "\\b(alias|alloc|bg|bindkey|break|builtins|bye|caller|cd|chdir|complete|dirs|echo|echotc|eval|exec|exit|fg|filetest|getxvers|glob|getspath|hashstat|history|hup|inlib|jobs|kill|limit|log|login|logout|ls-F|migrate|newgrp|nice|nohup|notify|onintr|popd|printenv|pushd|rehash|repeat|rootnode|popd|pushd|set|shift|sched|setenv|setpath|settc|setty|setxvers|shift|source|stop|suspend|source|suspend|telltc|time|umask|unalias|uncomplete|unhash|universe|unlimit|unset|unsetenv|ver|wait|warp|watchlog|where|which)\\s*\\b" :token :name-builtin}
   {:pattern "#.*" :token :comment}
   {:pattern "\\\\[\\w\\W]" :token :string}
   {:pattern "[\\[\\]{}()=]+" :token :operator}
   {:pattern "<<\\s*(\\'?)\\\\?(\\w+)[\\w\\W]+?\\2" :token :string}
   {:pattern ";" :token :punctuation}
   {:pattern "\\s+" :token :text}
   {:pattern "[^=\\s\\[\\]{}()$\"\\'`\\\\;#]+" :token :text}
   {:pattern "\\d+(?= |\\Z)" :token :number}
   {:pattern "\\$#?(\\w+|.)" :token :name-var}]
