[   {:pattern "[})\\].]" :token :punctuation}
   {:pattern "(true|false|null|NaN|Infinity|undefined)\\b" :token :keyword}
   {:pattern "\\b(string|bool|number|any|never|object|symbol|unique|unknown|bigint)\\b" :token :keyword-type}
   {:pattern "\\b(constructor|declare|interface|as)\\b" :token :keyword}
   {:pattern "[$a-zA-Z_]\\w*" :token :name-var}
   {:pattern "[0-9][0-9]*\\.[0-9]+([eE][0-9]+)?[fd]?" :token :number}
   {:pattern "0x[0-9a-fA-F]+" :token :number}
   {:pattern "[0-9]+" :token :number}
   {:pattern "\"(\\\\\\\\|\\\\\"|[^\"])*\"" :token :string}
   {:pattern "'(\\\\\\\\|\\\\'|[^'])*'" :token :string}
   {:pattern "@\\w+" :token :keyword-decl}
   {:pattern "\\s+" :token :text}
   {:pattern "//.*?\\n" :token :comment}
   {:pattern "/\\*.*?\\*/" :token :comment}]
