[   {:pattern "(?<!(#|\\'|\"))(?:#(?!(?:[a-fA-F0-9]{6}|[a-fA-F0-9]{3}))[^\\n#]+|//[^\\n]*)" :token :comment}
   {:pattern "/\\*(?:(?!\\*/).)*\\*/" :token :comment}
   {:pattern "(\\s*#\\s*\\n)" :token :comment}
   {:pattern "(#[a-fA-F0-9]{6}\\b|#[a-fA-F0-9]{3}\\b)" :token :string-char}
   {:pattern "&[^;\\n]*;" :token :string}
   {:pattern "(EXT|FILE|LLL):[^}\\n\"]*" :token :string}
   {:pattern "\\s+" :token :text}
   {:pattern "(?=[\\w\\-])(HTMLparser|HTMLparser_tags|addParams|cache|encapsLines|filelink|if|imageLinkWrap|imgResource|makelinks|numRows|numberFormat|parseFunc|replacement|round|select|split|stdWrap|strPad|tableStyle|tags|textStyle|typolink)(?![\\w\\-])" :token :name-fn}
   {:pattern "(?=[\\w\\-])(CASE|CLEARGIF|COA|COA_INT|COBJ_ARRAY|COLUMNS|CONTENT|CTABLE|EDITPANEL|FILE|FILES|FLUIDTEMPLATE|FORM|HMENU|HRULER|HTML|IMAGE|IMGTEXT|IMG_RESOURCE|LOAD_REGISTER|MEDIA|MULTIMEDIA|OTABLE|PAGE|QTOBJECT|RECORDS|RESTORE_REGISTER|SEARCHRESULT|SVG|SWFOBJECT|TEMPLATE|TEXT|USER|USER_INT)(?![\\w\\-])" :token :name-class}
   {:pattern "(?=[\\w\\-])(ACTIFSUBRO|ACTIFSUB|ACTRO|ACT|CURIFSUBRO|CURIFSUB|CURRO|CUR|IFSUBRO|IFSUB|NO|SPC|USERDEF1RO|USERDEF1|USERDEF2RO|USERDEF2|USRRO|USR)" :token :name-class}
   {:pattern "(?=[\\w\\-])(GMENU_FOLDOUT|GMENU_LAYERS|GMENU|IMGMENUITEM|IMGMENU|JSMENUITEM|JSMENU|TMENUITEM|TMENU_LAYERS|TMENU)" :token :name-class}
   {:pattern "(?=[\\w\\-])(PHP_SCRIPT(_EXT|_INT)?)" :token :name-class}
   {:pattern "(?=[\\w\\-])(userFunc)(?![\\w\\-])" :token :name-fn}
   {:pattern "[,.]" :token :punctuation}
   {:pattern "[<>,:=.*%+|]" :token :operator}
   {:pattern "[{}()\\[\\]\\\\]" :token :string-symbol}
   {:pattern "0x[0-9A-Fa-f]+t?" :token :number}
   {:pattern "[0-9]+" :token :number}
   {:pattern "(###\\w+###)" :token :name-var}
   {:pattern "[\\w\"\\-!/&;]+" :token :text}]
